streamlit==1.39.0 
numpy==1.25.2
tensorflow==2.13.01
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.12.0
tensorflow-intel==2.17.0
tensorflow-metadata==1.16.1
tensorflowjs==3.18 
setuptools>=58.0.0
